@font-face {
  font-family: 'Rust';
  src: url('./font/Rust.woff2') format('woff2'),
    url('./font/Rust.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --rust-dark-green: #107C10;
  --rust-light-green: #1CD133;
  --rust-dark-blue: #0D47A1;
  --rust-light-blue: #64B5F6;
  --rust-dark-gray: #616161;
  --rust-light-gray: #BDBDBD;
  --bright-green: #33FF33;
  --bright-red: #FF3333;
  --dark-green-1: #008000;
  --dark-green-2: #006400;
  --dark-green-3: #004500;
}

body {
  background-color: #171814;
  font-family: "Open Sans", sans-serif;
  color: #bab1a8;
  padding: 0;
  margin: 0;
}


a,
a:active,
a:visited {
  color: #9CB571;
}

a:hover {
  color: #a6cd63;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

ul.list-striped {
  padding: 0;
  margin: 0;
}

ul.list-striped li {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, .1);
  padding: .5rem 1.5rem;
}

ul.list-striped li>span {

  margin-right: .75rem;
}

ul.list-striped li:nth-of-type(2n) {
  background-color: #1F231D;
}

.changes-container h2 {
  font-size: 21px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.wrap {
  max-width: 1080px;
  margin: 0 auto;
}

.wrap-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .3;
  width: 100%;
  height: 50em;
  background-size: cover;
  /*background-image: url('./img/background/rust_01_huntingbow.jpg');*/
  -webkit-mask: radial-gradient(ellipse, #171814 20%, transparent 70%);
  mask: radial-gradient(ellipse at 50% 10%, #171814 20%, transparent 70%);
}

.img-ak-bg {
  opacity: .3;
  width: 100%;
  height: 50em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/scientist-green.png');
  -webkit-mask: radial-gradient(ellipse at 50% 50%, #171814 10%, transparent 55%);
  mask: radial-gradient(ellipse at 50% 50%, #171814 10%, transparent 55%);
  margin-top: -90px;
}

.green-header {
  background: linear-gradient(to right, rgba(93, 114, 57, .4), rgba(93, 114, 57, 0));
  color: #8ec62f;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  margin: 0;
  font-size: 21px;
  font-family: "Bebas Neue", cursive;
}

.yellow-header {
  background: linear-gradient(to right, rgba(215, 170, 12, .4), rgba(215, 170, 12, 0));
  color: #f5d254;
}

.title {
  text-align: center;
  color: #CD412B;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1em;
  font-family: 'Rust';
}

.title-white {
  color: #DBDBDB;
}

.tagline {
  margin-top: 0.5em;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1em;
  color: #DBDBDB;
}

p {
  font-size: 1em;
}

.italic {
  font-style: italic;
}

.btn {
  background-color: #607539;
  color: #9CB571;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  padding: 5px 8px;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  font-size: 24px;
}

.inline {
  display: inline-block;
}

.btn:hover {
  color: #B8C89E;
  background-color: #6D8247;
}

.btn-blue, .btn-blue a {
  background-color: #1B4666;
  color: #6B9CC0;
}

.btn-blue:hover, .btn-blue a:hover {
  background-color: #1F537B;
  color: #AABFCD;
}

nav {
  margin-top: 3em;
  font-family: "Bebas Neue";
  font-size: 21px;
}

/* Style for the navigation menu */
ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}

/* Style for the list items in the navigation menu */
ul.nav-menu li {
  float: left;
}

/* Style for the anchor tags within the list items */
ul.nav-menu li a {
  display: block;
  color: #e4dad1;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

/* Style for the anchor tags within the list items on hover */
ul.nav-menu li a:hover {
  color: #fff;
}

.server-info {
  background: #1F231D;
  border: solid 0.5em #1F231D;
  text-align: center;
  margin: 0 auto;
  position: relative;
  max-width: 400px;
}

.server-info-content {
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

.white {
  color: #ffffff;
}

.server-info-gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(31, 32, 26, 0) 35%, rgba(31, 32, 26, 1) 100%);
}

.server-info-background {
  position: relative;
}

.server-info-background img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}



.server-info h2 {
  font-size: 24px;
  text-transform: none;
  color: #e4dad1;

}

.server-info .spacer {
  margin: 10px
}

.logo-wrapper {
  width: 100px;
  padding-right: 25px;
}

.logo {
  position: absolute;
  z-index: 1;
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: 1em;
}

.footer-logo {
  height: 100px;
  width: 100px;
  filter: grayscale(100%);
}

nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0.25em 0;
  background-color: #171513 !important;
  border-radius: 0 !important;
  margin-bottom: 50px;
  clear: both
}

.store-header {
  position: relative;
  float: right;
}

.social-links {
  display: flex;
  align-items: center;
  padding-right: 1em;
}

.social-link {
  font-family: "Bebas Neue", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  margin-right: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.social-link i:hover {
  color: #fff;
}

.social-link i {
  color: #e4dad1;
  font-size: 20px;
}

.discord {
  background-color: #7289da;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 21px;
  margin-right: 0;
  width: 140px;
  color: #ffffff;
  border-radius: 0;
}

a.discord,
a.discord:active,
a.discord:visited {
  color: #ffffff;
}

.discord i {
  margin-right: 0.25em;
}

a.discord:hover {
  color: #AABFCD !important;
}

.discord:hover {
  background-color: #5a6f94;
  transform: none;
  color: #AABFCD;
}

/* Define a flex container with two columns */
.flex-columns {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

/* Define the width and padding for each column */
.column {
  flex: 1 0 auto;
  /* The columns should take up equal space */
  max-width: 50%;
  /* Each column should take up 50% of the container */
  padding: 0 10px;
  /* Add some padding to the left and right of each column */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rules {
  padding: 1em;
}

.rules>h1 {
  text-align: center;
  text-transform: uppercase;
}


.rules ol li {
  list-style: decimal;
}

.footer {
  border-top: 1px solid #181A15;
  background-color: #11120F;
  height: 15em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  color: #999;
  font-size: 14px;
  text-align: center;
}

.footer .footer-wrap {
  margin-top: auto;
}

.accordion {
  padding-bottom: 10px;
}

.accordion-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  margin: 0;
  font-size: 21px;
  font-family: "Bebas Neue", cursive;
  transition: background-color 1.3s ease-in-out;
}

.accordion-header i {
  padding-right: 0.5em;
}

.accordion-wrap {
  display: block;
  transition: max-height 1.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
  background: linear-gradient(to right, #1F231D, rgba(215, 170, 12, 0));

}

.accordion-header.active {}

.accordion-wrap.active {
  display: block;
  max-height: 1000px;
}

.accordion-content p {
  padding: 0;
  margin: 0;
}

.accordion-content {
  padding: 10px;
  margin: 10px;
}

.progress-container {
  position: relative;
}

#serverPlayersText {}

#serverPlayers {
  background-color: #a6cd63;
  border: none;
}

.progress-container {
  width: auto;
  height: 1em;
  position: relative;
  background: rgba(255, 255, 255, .1);
}

.progress-bar {
  height: 100%;
  background-color: #4CAF50;
  position: absolute;
  top: 0;
  left: 0;
}

.connect {
  padding: 0;
  margin: 0;
}

header {
  padding-top: 2em;
  padding-bottom: 2em;
}

#about {
  margin-top: 5em;
}

.content {
  background: #1F231D;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1F231D 100%);
  padding: 1em;
  margin-top: 1em;
}

.vip-resources {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.kit-image {
  width: 100px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  max-width: 44em;
  background: rgba(0,0,0,.25);
  padding: 1em;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid #FFF;
  background-color: rgba(255, 255, 255, 0.5);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-amount {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 14px;
}

.vip-packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  background: rgba(0,0,0,.25);
  padding: 1em;
  border: 1px solid #171513;
}

.vip-package {
  width: 200px;
  display: inline;
  clear: both;
}

.vip-package h2 {
  text-align: center;
}

.vip-package img {
  width: 200px;
  height: auto;
  border: 1px solid #171814;
}

.panel {
  background: #1F231D;
  margin-bottom: 1em;
}

.panel-header {
  background: rgba(0,0,0,0.33);
  padding: 1em;
  margin: 0;
}

.panel-heading {
  font-family: "Bebas Neue";
  font-size: 21px;
}

.panel-body {
  padding: 1em;
}